{% extends "base.html" %}
{% block content %}

<h2>Add Shipping Entry</h2>

<form method="post">

    <label>Order ID:</label><br>
    <select name="order_id" required>
        {% for o in orders %}
            <option value="{{ o.order_id }}">{{ o.order_id }}</option>
        {% endfor %}
    </select><br><br>

    <label>Employee:</label><br>
    <select name="employee_id" required>
        {% for e in employees %}
            <option value="{{ e.employee_id }}">{{ e.first_name }} {{ e.last_name }}</option>
        {% endfor %}
    </select><br><br>

    <label>Shipped At (optional):</label><br>
    <input type="datetime-local" name="shipped_at"><br><br>

    <label>Delivery Date (optional):</label><br>
    <input type="datetime-local" name="delivery_date"><br><br>

    <label>Tracking Code:</label><br>
    <input name="tracking_code"><br><br>

    <button type="submit">Add Shipping</button>
</form>

{% endblock %}
