<!DOCTYPE html>
<html>
<head>
    <title>Online Shop Demo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<header style="padding: 10px; background: #333; color: #fff;">
    <a href="/dashboard" style="color:white; margin-right:20px; text-decoration:none;">Dashboard</a>
    <a href="{{ url_for('accounting.index') }}" style="color:white; margin-right:20px; text-decoration:none;">Accounting</a>
    <a href="{{ url_for('customerService.index') }}" style="color:white; margin-right:20px; text-decoration:none;">Customer Service</a>
    <a href="{{ url_for('shippingAndStockManagement.index') }}" style="color:white; margin-right:20px; text-decoration:none;">Shipping and Stock Management</a>
    <a href="{{ url_for('humanResources.index') }}" style="color:white; margin-right:20px; text-decoration:none;">Human Resources</a>
    <a href="{{ url_for('customer.index') }}" style="color:white; margin-right:20px; text-decoration:none;">Customer</a>


</header>

<div style="padding: 20px;">
    {% block content %}{% endblock %}
</div>

</body>
</html>
