<!DOCTYPE html>
<html>
<head>
    <title>Online Shop Demo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<!-- Hello demo git branch!!!!!--> 
<header style="padding: 10px; background: #333; color: #fff;">
    <a href="/dashboard" style="color:white; margin-right:20px; text-decoration:none;">Dashboard</a>
    <a href="/accounting" style="color:white; margin-right:20px; text-decoration:none;">Accounting</a>
    <a href="/customerService" style="color:white; margin-right:20px; text-decoration:none;">Customer Service</a>
    <a href="/shippingAndStockManagement" style="color:white; margin-right:20px; text-decoration:none;">Shipping and Stock Management</a>
    <a href="/humanResources" style="color:white; margin-right:20px; text-decoration:none;">Human Resources</a>
    <a href="/customer" style="color:white; margin-right:20px; text-decoration:none;">Customer interface</a>


</header>

<div style="padding: 20px;">
    {% block content %}{% endblock %}
</div>

</body>
</html>
